body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-image: url(./images/eiffel-tower-blk-wht.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eeeeee;
  position: relative;
  max-width: 1280px;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- header/navbar  ----------------------*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0px auto;
  background-color: #eeeeeece;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 1rem;
}

#dropdownMenuButton {
  color: #575757;
  background: transparent;
  border: none;
  text-decoration: underline;
}

/*------------- landing page ----------------------*/
.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem 2rem;
  background-color: #eeeeeece;
}

.landing-page-main-title {
  text-align: center;
  width: 90%;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 1rem;
}

@media(max-width:480px) {
  .landing-page-main-title {
    font-size: 1.5rem;
  }
}

.landing-page-title-bold {
  font-weight: 500;
}

.landing-page-title-blue-bold {
  font-weight: 500;
  color: steelblue;
}

.landing-page-main-logo {
  width: 50%;
  max-height: 50%;
}

@media(max-width: 480px) {
  .landing-page-main-logo {
    width: 80%;
    margin: 2rem 0rem
  }
}

.landing-page-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.landing-page-link {
  color: #8a8a8a;
  background-color: #e0e0e0;
  text-align: center;
  border: 3px solid whitesmoke;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px gray;
  text-decoration: none;
}

.landing-page-link:hover {
  color: #e0e0e0;
  background-color: #8a8a8a;
  box-shadow: inset 1px 1px 3px 2px rgb(65, 65, 65);
}

/*------------------- footer ------------------------*/
.footer-container {
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  padding: 0.7rem 0rem 0.5rem 0rem;
  background-color: #eeeeeece;
}

.footer-copyright {
  font-size: .7rem;
}