body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #eeeeee;
  color: #575757;
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- landing page ----------------------*/
.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-main-title {
  text-align: center;
  width: 90%;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.landing-page-title-bold {
  font-weight: 500;
}

.landing-page-main-logo {
  width: 50%;
  max-height: 50%;
}

.landing-page-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.landing-page-link {
  color: #8a8a8a;
  background-color: #e0e0e0;
  text-align: center;
  border: 3px solid whitesmoke;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px gray;
  text-decoration: none;
}

.landing-page-link:hover {
  color: #e0e0e0;
  background-color: #8a8a8a;
  box-shadow: inset 1px 1px 3px 2px rgb(65, 65, 65);
}

/*------------- curious page ----------------------*/

.info-page-container {
  max-width: 70%;
  margin: 25% auto;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 5px 2px gray;
}

.info-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------- clients page ----------------------*/

.clients-page-container {
  max-width: 70%;
  margin: 25% auto;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 5px 2px gray;
}

.clients-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------- hotels page ----------------------*/

.hotels-page-container {
  max-width: 70%;
  margin: 25% auto;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 5px 2px gray;
}

.hotels-page {
  display: flex;
  justify-content: center;
  align-items: center;
}