body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #7f7f7f;
  background-color: #E2E3E2;
  width: 100%;
  height: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #7f7f7f;
  text-decoration: none;
}

/*-------------  global styles  ----------------------*/
.main-wrapper {
  display: flex;
}

.left-side {
  width: 30%;
  height: 100%;
}

.logo-container {
  width: 100%;
  height: 50%;
}

.wlt-logo {
  width: 100%;
  object-fit: cover;
}

.right-side {
  width: 70%;
  position: relative;
}

.img-container {
  width: 70%;
  height: 100%;
  float: right;
}

.img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content-container {
  width: 100%;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
}

.titles {
  display: flex;
  gap: .5em;
}

.title {
  font-weight: 400;
}

.title-lg-txt {
  font-size: 3rem;
  margin-bottom: 0em;
  padding-left: .2em;
}

.title-sm-txt {
  font-size: 1.7rem;
  text-align: end;
  padding-top: .7em;
}

.hashtag {
  display: flex;
  margin-left: .5em;
}

.tag {
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.hashtag-blue {
  color: #9CC2E5;

}

.hashtag-green {
  color: #A8D08C;
}

.hashtag-gold {
  color: #FFC000;
}

.page-content {
  width: 90%;
  height: 65vh;
  margin: 1em auto;
}

.links-btns {
  display: flex;
  height: 80px;
}

.lg-btn,
.sm-btn {
  border-radius: 10px;
  margin-right: 2.5em;
  padding-top: 1.8em;

}


.btn-team {
  padding-top: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.btn {
  width: 90px;
  height: 80px;
  line-height: 1em;
  text-shadow: 1px 1px 5px rgb(48, 48, 48);
  border: 1px solid rgb(72, 115, 215);
  background-color: #1c5fd339;
  box-shadow: 1px 1px 4px rgb(230, 230, 230),
    inset 0px 0px 5px 1px rgb(105, 105, 158)
}


.link {
  color: whitesmoke;
}

.sm-btn {
  width: 80px;
  height: 70px;
  line-height: .6rem;
  padding-top: 1.65em;
}

.link-sm {
  font-size: .9rem;
}

.btn-red {
  line-height: .9rem;
  padding-top: 0.65em;
  padding-right: 1rem;
  padding-left: 0.8rem;
  background-color: rgba(255, 0, 0, 0.257);
  border: 1px solid grey;
  box-shadow: 2px 2px 5px 2px rgba(60, 60, 60, 0.597),
    inset 0px 0px 5px 1px rgb(255, 0, 0);
}

.btn-hotel {
  background-color: #6390ec54;
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.footer-wrapper {
  width: 100%;
}

.footer-container {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  padding: 0em .5em;
}

.terms,
.copyright {
  font-size: .6rem;
  margin-bottom: 0.5em;
  text-align: center;
}

/*-----------------  PC styles  ----------------------*/
@media(min-width:1024px) {
  .mobile-nav {
    display: none;
  }
}

/*-----------------   large-PC styles  ----------------------*/
@media(min-width:1280px) {}

/*-------------  tablet styles  ----------------------*/
@media(max-width:768px) {
  .left-side {
    display: none;
  }

  .right-side {
    width: 100%;
    position: relative;
  }

  .mobile-nav {
    width: 100%;
  }

  .nav-logo {
    width: 4em;
  }

  .navbar-toggler {
    text-align: end;
  }

  .navbar-nav {
    color: slategrey;
    background-color: #7f7f7f;
    padding-left: .5em;
  }

  .nav-link:hover {
    color: whitesmoke;
    background-color: darkslategrey;
  }

  .img-container {
    width: 40%;
    opacity: .8;
  }

  .title-lg-txt {
    margin-left: .5em;
  }

  .hashtag {
    justify-content: center;
  }

  .page-content {
    width: 80%;
    height: 55vh;
  }

  .links-lg {
    display: none;
  }

  .links-btns {
    width: 100%;
    justify-content: center;
  }

  .links-sm {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .btn {
    width: 70px;
    height: 60px;

  }

  .lg-btn,
  .sm-btn {
    line-height: .8em;
    margin-right: 0em;
    padding: 1.15rem .5em .0em .5em;
    z-index: 3;
  }

  .btn-red {
    padding: .3rem .5em .7em .5em;
  }

}

/*-------------  mobile styles  ----------------------*/
@media(max-width:480px) {
  .main-img {
    display: none;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .titles {
    justify-content: center;
  }

  .title-lg-txt {
    font-size: 2rem;
    margin-bottom: 0em;
    padding-left: .2em;
    margin-left: 0em;
  }

  .title-sm-txt {
    font-size: 1rem;
    text-align: end;
    padding-top: .7em;
  }

  .hashtag {
    justify-content: center;
  }

  .page-content {
    height: 50vh;
  }

  .btn {
    padding-top: 1.25em;
  }

  .btn-red {
    padding-top: .5em;
  }

  .footer-container {
    position: absolute;
    bottom: 0em;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }

}