body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-color: #E2E3E2;
  max-width: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}


a {
  color: #575757;
  text-decoration: none;
}

/*-------------  global styles  ----------------------*/
.main-wrapper {
  display: flex;

}



/*-------------  mobile styles  ----------------------*/
@media(max-width:480px) {
  .main-wrapper {
    flex-direction: column;
  }
}

/*-------------  tablet styles  ----------------------*/
@media(max-width:768px) {}

/*-----------------  PC styles  ----------------------*/
@media(max-width:1024px) {}

/*-----------------   large-PC styles  ----------------------*/
@media(min-width:1280px) {}