body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-color: #eeeeee;
  max-width: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}


a {
  color: #575757;
  text-decoration: none;
}

/*------------- about us  ----------------------*/
.main-wrapper {
  display: flex;
}