body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #e6e6e6;
  background-image: url("");
  opacity: 0.99;
  max-width: 1280px;
  background: rgb(23, 24, 23);
  background: linear-gradient(45deg, rgba(23, 24, 23, 1) 24%, rgba(47, 79, 79, 1) 67%, rgba(96, 96, 96, 1) 98%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- header/navbar  ----------------------*/
.header-wrapper {
  width: 100%;
  background-color: transparent;
}


.wlt-logo-txt {
  font-size: 1.5rem;
  font-weight: 300;
}

@media(max-width:480px) {
  .wlt-logo-txt {
    font-size: 1.1rem;
    padding-left: 1rem;
  }
}

.header-txt-hashtag {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

@media(max-width:480px) {
  .header-txt-hashtag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
  }
}


.header-title {
  font-weight: 300;
  font-size: 3rem;
}

@media(max-width:480px) {
  .header-title {
    font-weight: 300;
    font-size: 2rem;
    margin: 0rem;
  }
}

.header-hashtag {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;

}

.hashtag-steelblue {
  color: steelblue;
}

.hashtag-red {
  color: red;
}

.hashtag-goldenrod {
  color: goldenrod;
}

.meet-the-team {
  text-align: center;
}

.meet-team-link {
  background-color: steelblue;
  border-radius: 5px;
  padding: 0.3rem 2.5rem;
  color: #eeeeee;
}

.meet-team-link:hover {
  background-color: rgb(101, 159, 206);
  color: #eeeeee;
}


/*------------- About us page ----------------------*/

.main-wrapper {
  max-width: 90%;
}

/*------------------- footer ------------------------*/
.footer-wrapper {
  width: 100%;
  padding: .9rem 0rem .8rem 0rem;
}

.footer-container {
  max-width: 90%;
  margin: 0px auto;
}

.footer-links {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.footer-link {
  font-weight: 400;
  color: #8a8a8a;
  text-align: center;
}

.footer-link:hover {
  transform: scale(1.1);
  transition: ease-in 0.3ms;
}

.home-link {
  text-decoration: 2px overline;
  color: steelblue;
}

.footer-copyright {
  font-size: .7rem;
  text-align: center;
  color: #8a8a8a;
}