body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.99;
  background-color: #e0e0e0;
  position: relative;
  max-width: 1280px;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- header/navbar  ----------------------*/
.header-container {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px #8a8a8a;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header-text-logo {
  font-size: 1.3rem;
  font-weight: 300;
  color: #575757;
}

@media(max-width:480px) {
  .header-text-logo {
    font-size: 1.1rem;
  }
}

.header-log-out-link:hover {
  text-decoration: overline;
  color: steelblue;
  ;
}

/*------------- hotel-dash page ----------------------*/
.main-wrapper {
  text-align: center;
  padding: 3rem 4rem;
  position: relative;
}

@media(max-width:480px) {
  .main-wrapper {
    padding: 3rem 1.5rem;
    text-align: start;
  }
}

.add-listing-link {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  color: #575757;
  font-weight: 500;
  background-color: goldenrod;
}

@media(max-width:480px) {
  .add-listing-link {
    top: .6rem;
    right: 1rem;
  }
}

.main-title {
  font-weight: 300;
}

@media(max-width:480px) {
  .main-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

.title-accent-one {
  font-weight: 400;
  color: green;
}

.title-accent-two {
  font-weight: 400;
  color: steelblue;
}

.random {
  border: 1px solid #8a8a8a;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: #575757 2px 2px 7px 1px;
}

.second-container {
  margin-top: 2rem;
}

/*------------------- footer ------------------------*/
.footer-container {
  background-color: #eeeeee;
  box-shadow: 2px -2px 5px #8a8a8a;
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.footer-links {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.footer-link {
  font-weight: 300;
  color: #575757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  transform: scale(1.1);
  transition: ease-in 0.3ms;
}

.home-link {
  color: steelblue;
  font-weight: 500;
}

.home-link:hover {
  color: steelblue;
  text-decoration: 2px overline;
  transition: ease-in 0.3ms;
  text-transform: uppercase;
}

.footer-copyright {
  font-size: .7rem;
  color: #8a8a8a;
  padding-top: 1.3rem;
}