body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: whitesmoke;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #224D9B;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles ----------------------*/

.main-wrapper {
  width: 100%;
  display: flex;
  background-color: #224D9B;
}

.left-side {
  width: 35%;
  height: 100vh;
}

.logo-container {
  width: 100%;
  height: 50%;
  padding-top: 2em;
}

.logo,
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img {
  height: 100%;
  opacity: .2;
}

.img-container {
  width: 100%;
  height: 50%;
}

.right-side {
  width: 65%;
  border: red 1px solid;
}

.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #00f0a0 1px solid;
}

.title-hashtag {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

.title,
.hashtag {
  font-weight: 400;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 0em;
  letter-spacing: -1px;
}

.hashtag-container {
  display: flex;
  align-items: end;
  margin-left: .6em;
}

.hashtag {
  font-size: 1.4rem;
  margin-bottom: 0.2em;
}

.tag-lightgreen {
  color: #C4E0B2;
  font-size: 1.5rem
}

.tag-gray {
  color: #D5DBE5;
}

.tag-orange {
  color: #F4B081;
}

.tag-blue {
  color: #00B0F0;
}

.link-btns {
  display: flex;
}

.link-btns-lg,
.link-btns-sm {
  margin: 3rem 0rem;
}

.link-btns-sm {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.link-lg,
.link-sm {
  background-color: #95254A;
  margin-right: 2em;
  border-radius: 10px;
}

.link-lg {
  padding: 1.5rem 1.2rem;
}

.about-link {
  padding: 1.5rem .5rem;
}

.link-sm {
  padding: 1.25rem .8rem;
  font-size: .7rem;
  text-align: center;
}

.link-red {
  background-color: red;
  width: 10px;
  text-align: center;
  padding: 1.25rem .3rem;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  font-size: .6rem;
}

/*------------- mobile ----------------------*/
@media(max-width:480px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    position: relative;

  }

  .logo-container {
    width: 10rem;
    margin: 0rem auto;
    padding-top: .5em;

  }

  .logo {
    width: 100%;
    margin-top: .5em;
  }

  .right-side {
    width: 100%;
    margin: 0rem auto;
    position: absolute;
    top: 0;
  }

  .navbar-dark .navbar-toggler {
    border-color: transparent;
  }

  .navbar-dark .navbar-toggler:active {
    border-color: transparent;
  }

  .navbar-toggler-icon {
    color: whitesmoke !important;
  }

  div .navbar-nav {
    background: #3d6197;
    padding: 1.5em;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    box-shadow: inset 0px 0px 5px 3px lightblue;
  }

  .nav-link {
    color: whitesmoke !important;
  }

  .register-link {
    text-decoration: 1px underline;
  }

  .content-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: #00f0a0 1px solid;

  }

  .title-hashtag {
    margin-top: 10rem;
    flex-direction: column;
    border: #f08c00 1px solid;
  }

  .title {
    text-align: center;
    margin-top: 1rem;
  }

  .hashtag-container {
    justify-content: end;
    padding-right: 1em;
  }

  .hashtag {
    font-size: 1rem;
  }

  .link-btns {
    justify-content: center;
  }

  .link-btns-lg {
    display: none;
  }

  .hotel-link {
    margin-right: 0em;
  }





  .footer-container {
    flex-direction: column;
    font-size: .5rem;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .3rem;
    text-align: center;
    line-height: .5rem;
  }


}

/*------------- tablet ----------------------*/
@media(max-width:768px) {
  .mobile-nav {
    display: none;
  }

  .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }
}

/*------------- PC ----------------------*/
@media(min-width:1024px) {
  .mobile-nav {
    display: none;
  }



  .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }

}

@media(min-width:1440px) {
  .logo {
    max-width: 22em;
    margin-left: 4em;
  }
}