body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-color: #224D9B;
  max-width: 1440px;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles ----------------------*/

.main-wrapper {
  width: 100%;
  display: flex;
  background-color: #224D9B;
}

.left-side {
  width: 35%;
  height: 100vh;
}

.logo-container {
  width: 100%;
  height: 50%;
  padding-top: 2em;
}

.logo,
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.img {
  width: 60%;
  height: 60%;
  margin-bottom: 5em;
  margin-right: 4em;
  opacity: .7;
}

.right-side {
  width: 65%;
}

.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2em;
}

.title-hashtag {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

.title,
.hashtag {
  font-weight: 400;
}

.title {
  font-size: 4rem;
  margin-bottom: 0em;
  letter-spacing: -1px;
}

.hashtag-container {
  display: flex;
  align-items: end;
  margin-left: .6em;
}

.hashtag {
  font-size: 1.4rem;
  margin-bottom: 0.2em;
}

.tag-lightgreen {
  color: #C4E0B2;
  font-size: 1.5rem
}

.tag-gray {
  color: #D5DBE5;
}

.tag-orange {
  color: #F4B081;
}

.tag-blue {
  color: #00B0F0;
}

/* page content */
.page-content {
  height: 95%;
  padding: 2em 2em 2em 0em;
  overflow: scroll;
}

.content-subtitle-txt {
  text-align: center;
  color: whitesmoke;
  font-size: 1.1rem;
  margin-bottom: 1em;
  line-height: 1.2em;
}

.contact-submition-form {
  background-color: #B5C6E7;
  color: black;
  padding: 1em 2em;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
}

.form-input {
  text-align: end;
  margin-bottom: 1em;
}

label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: .5em;
}

input {
  width: 70%;
  padding-left: .5em;
}

::placeholder {
  color: rgba(128, 128, 128, 0.398);
}

.submit-btn {
  background-color: #FFC000;
  border: none;
  padding: .5em 1.5em;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 35%;
}

/* page content end */


.link-btns,
.link-btns-lg,
.link-btns-sm {
  display: flex;
  gap: 1.5em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(122, 0, 8, 0.196);
  box-shadow: 1px 1px 4px 0px rgb(184, 184, 184),
    -1px -1px rgb(37, 37, 37),
    inset 0px 0px 4px rgb(151, 2, 12);
}

.btn-sm {
  width: 80px;
  height: 70px;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  font-size: .6rem;
}

p,
.terms {
  color: rgba(255, 255, 255, 0.537);
}

/*------------- PC ----------------------*/
@media(min-width:1024px) {
  .mobile-nav {
    display: none;
  }

  .logo {
    width: 80%;
    padding-left: 2em;
  }



  .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }

}

@media(min-width:1440px) {
  .logo {
    max-width: 22em;
    margin-left: 4em;
  }

  .img {
    margin-left: 4em;
  }
}

/*------------- tablet ----------------------*/
@media(max-width:768px) {
  .img {
    width: 80%;
    height: 60%;
    margin-bottom: 7em;
    margin-right: 0em;
  }

  .content-container {
    height: 90%;
  }

  .form-title {
    font-size: 1.5rem;
    line-height: 1.55rem;
  }

  label {
    font-size: .9rem;
  }

  .submit-btn {
    background-color: #FFC000;
    border: none;
    padding: .5em 1.5em;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 30%;
  }

  .link-btns-lg {
    display: none;
  }

  .nav-logo {
    width: 3em;
  }

  .mobile-nav {
    margin-top: .5em;
    margin-right: .5em;
  }


  .title {
    font-size: 2.5rem;
  }

  .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }
}

@media(min-width:768px) {
  .nav-logo {
    display: none;
    ;
  }
}


/*------------- mobile ----------------------*/
@media(max-width:480px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    position: relative;
  }

  .logo-container {
    width: 10rem;
    margin: 0rem auto;
    padding-top: .5em;
  }

  .logo,
  .img {
    display: none;
  }


  .right-side {
    width: 100%;
    margin: 0rem auto;
    position: absolute;
    top: 0;
  }

  .content-container {
    height: 100%;
  }

  .page-content {
    padding: 1em;
    margin: .5em 0em;
  }

  .contact-submition-form {
    padding: .5em;
    text-align: center;
  }

  .content-subtitle-txt {
    font-size: 1rem;
  }

  .form-input {
    text-align: center;
    width: 100%;
  }

  label {
    display: none;
  }

  input {
    width: 80%;
  }

  .submit-btn {
    font-weight: 600;
    font-size: 1rem;
    width: 70%;
    margin-left: .1em;
    padding: .25em 1em;
  }

  .navbar-dark .navbar-toggler {
    border-color: transparent;
  }

  .navbar-dark .navbar-toggler:active {
    border-color: transparent;
  }

  .navbar-toggler-icon {
    color: whitesmoke !important;
  }

  div .navbar-nav {
    background: #3d6197;
    padding: 1.5em;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    box-shadow: inset 0px 0px 5px 3px lightblue;
  }

  .nav-link {
    color: whitesmoke !important;
  }

  .register-link {
    color: goldenrod !important;
  }

  .content-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0em;
  }

  .title-hashtag {
    margin-top: 0rem;
    flex-direction: column;
  }

  .title {
    text-align: center;
    margin-top: 0rem;
  }

  .hashtag-container {
    justify-content: end;
    padding-right: 1em;
  }

  .hashtag {
    font-size: 1rem;
  }

  .link-btns {
    justify-content: center;
  }

  .btn {
    background-color: rgba(122, 0, 8, 0.444);
  }

  .link-sm {
    text-shadow: 2px 2px 5px solid black;
  }


  .footer-container {
    font-size: .5rem;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .3rem;
    text-align: center;
    line-height: .5rem;
  }
}