body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background: rgb(170, 170, 170);
  background: linear-gradient(107deg, rgba(170, 170, 170, 1) 26%, rgba(48, 112, 149, 1) 53%, rgba(208, 208, 208, 1) 90%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.99;
  background-color: #e0e0e0;
  position: relative;
  max-width: 1280px;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- header/navbar  ----------------------*/
.header-container {
  background-color: #eeeeee2a;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px #8a8a8a;
}

@media(max-width:480px) {
  .header-container {
    background-color: transparent;
    box-shadow: none;
  }
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header-text-logo {
  font-size: 1.5rem;
  font-weight: 300;
  color: #eeeeee;
}

@media(max-width:480px) {
  .header-text-logo {
    font-size: 1.3rem;
  }
}

.header-back-btn {
  color: #eeeeee;
}

@media(max-width:480px) {
  .header-text-logo {
    font-size: 1rem;
  }
}


.header-become-agent-link:hover {
  color: steelblue;
  text-decoration: overline;
}

/*------------- info page ----------------------*/
.registration-form {
  display: flex;
  width: 70%;
  margin: 1.5rem auto 3rem;
  border: 2px solid #c1c1c1;
  gap: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 8px 5px #8a8a8a;
}

.container-title {
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #eeeeee;
}

@media(max-width:480px) {
  .container-title {
    padding: 0rem 1.5rem;
  }
}

@media(max-width:480px) {
  .container-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.title-accent {
  color: goldenrod;
}

.form-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

@media(max-width:480px) {
  .form-title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
  }
}

.registration-form {
  background-color: #d8d8d8;
}

.form-wrapper {
  width: 60%;
  padding: .5rem 1.5rem;

}

@media(max-width:480px) {
  .form-wrapper {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.input {
  width: 90%;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.checkbox-one {
  margin-bottom: .5rem;
}

@media(max-width:480px) {
  .submit-btn-container {
    text-align: center;
  }
}

.submit-btn {
  font-size: 1.1rem;
  font-weight: 200;
  padding: .3rem 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: steelblue;
  border: none;
  color: #eeeeee;
  width: 12rem;
}

.submit-btn:hover {
  background-color: rgb(129, 186, 233);
}

.form-img-container {
  width: 50%;
}

@media(max-width:480px) {
  .form-img-container {
    display: none;
  }
}

.form-img {
  width: 100%;
  object-fit: contain;
  display: block;
}


/*------------------- footer ------------------------*/
.footer-container {
  background-color: #eeeeee19;
  box-shadow: 2px -2px 5px #8a8a8a;
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.footer-links {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.footer-link {
  font-weight: 300;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  transform: scale(1.1);
  transition: ease-in 0.3ms;
}

.home-link {
  color: steelblue;
  font-weight: 500;
}

.home-link:hover {
  color: steelblue;
  text-decoration: 2px overline;
  transition: ease-in 0.3ms;
  text-transform: uppercase;
}

.footer-copyright {
  font-size: .7rem;
  color: #8a8a8a;
  padding-top: 1.3rem;
}