body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #eeeeee;
  background: rgb(26, 63, 84);
  background: linear-gradient(90deg, rgba(26, 63, 84, 1) 45%, rgba(55, 106, 136, 1) 63%, rgba(85, 135, 163, 1) 80%, rgba(113, 137, 150, 1) 92%, rgba(172, 172, 172, 1) 100%);
  position: relative;
  max-width: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}


a {
  color: #575757;
  text-decoration: none;
}


/*------------- curiosity page ----------------------*/
.mobile-nav {}

@media(max-width:480px) {
  .mobile-nav {
    width: 100%;
    height: 2rem;
    background-color: blue;
  }
}

.page-logo {
  width: 19.5rem;
  position: absolute;
  top: .5rem;
  left: 4rem;
  z-index: 2;
}

@media(max-width:480px) {
  .page-logo {
    position: relative;
    width: 15rem;
  }
}

.main-wrapper {
  display: flex;
}

.first-container {
  max-width: 35%;
}

@media(max-width:480px) {
  .first-container {
    display: none;
  }
}

.main-img {
  display: block;
  object-fit: cover;
  opacity: .6;
  width: 100%;
  height: 100vh;
}

.second-container {
  max-width: 65%;
}

@media(max-width:480px) {
  .second-container {
    max-width: 90%;
    margin: 0px auto;
  }
}

.quote-hashtag {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: .5rem;
}

.page-quote {
  font-size: 3.2rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

@media(max-width:480px) {
  .page-quote {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.hashtag {
  margin-top: 0rem;
  display: flex;
  font-weight: 300;
}

@media(max-width:480px) {
  .hashtag {
    font-size: 1rem;
    margin: 0rem auto;
    margin-bottom: .5rem;
  }
}

.hashtag-gold {
  color: goldenrod;
}

.hashtag-red {
  color: red;
}

.hashtag-gray {
  color: lightslategrey;
}

.hashtag-blue {
  color: steelblue;
}

.hashtag-fuschia {
  color: fuchsia;
}

.hashtag-green {
  color: lawngreen;
}

.page-content {
  max-width: 90%;
  margin: 0px auto;
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 10px;
  height: 65%;
}

.content-title {
  color: #eeeeee55;
  text-align: center;
  text-decoration: 2px underline;
}

.page-links-container {
  display: flex;
  max-width: 100%;
  border: 2px green solid;
}

.page-links-one a,
.page-links-two a {
  color: white;
}

.page-links-one {
  width: 50%;
  border: 2px rgb(215, 238, 6) solid;
  display: flex;
  justify-content: space-between;
}

@media(max-width:480px) {
  .page-links-one {
    margin-top: 1rem;
    width: 100%;
  }
}

.page-link-lg {
  background-color: steelblue;
  padding: 1rem 1rem;
  border-radius: 10px;
  text-align: center;
}

.about-link {
  padding: 1rem .5rem;
}

.team-link {
  padding: 1rem .5rem;
}

@media(max-width:480px) {
  .page-link-lg {
    margin-top: 1rem;
  }
}

.page-links-two {
  width: 50%;
  border: 2px rgb(128, 0, 98) solid;
  display: flex;
  justify-content: space-between;

}

@media(max-width:480px) {
  .page-links-two {
    display: none;
  }
}


/*------------------- footer ------------------------*/
.footer-container {
  text-align: start;
  max-width: 100%;
}

.footer-copyright {
  width: 40%;
  font-size: .7rem;
  color: #8a8a8a;
  padding-left: 1rem;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
}

@media(max-width:480px) {
  .footer-copyright {
    width: 100%;
    font-size: .5rem;
    color: #8a8a8a;
    padding-left: 1rem;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
  }
}