body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #eeeeee;
  background: rgb(26, 63, 84);
  background: linear-gradient(90deg, rgba(26, 63, 84, 1) 45%, rgb(37, 86, 101, 1) 63%, rgb(76, 119, 132, 1) 80%, rgb(124, 158, 170, 1) 92%, rgb(186, 196, 205, 1) 100%);
  position: relative;
  max-width: 100%;
  height: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}


a {
  color: whitesmoke;
  text-decoration: none;
}

/*-------------  global styles curiosity page ----------------------*/
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.left-side {
  text-align: center;
  width: 30%;
  height: 100%;
  position: relative;
}

.logo-container {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.img-container {
  width: 100%;
  height: 100vh;
}


.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.logo {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.right-side {
  width: 70%;

}

.page-quote {
  margin-bottom: 0.1em;
}

.hashtag {
  display: flex;
}

.tag {
  font-size: 1rem;
}

.hashtag-lightblue {
  color: #00B0F0;
}


.hashtag-darkblue {
  color: #2E75B5;
}

.hashtag-mustard {
  color: #BF9000;
}

.hashtag-green {
  color: #90CE50;
}

.hashtag-gold {
  color: #FFC000;
}

.hashtag-gray {
  color: #81A9C5;
}

.page-content {
  width: 95%;
  height: 70%;
  margin: 0px auto;
  border: 2px solid whitesmoke;
  opacity: .5;
  text-align: center;
}

.page-links-container {
  display: flex;
  align-items: center;
  gap: 2.5em;
  height: 75px;
  margin-top: 2em;

}

.page-links-one,
.page-links-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.page-links-one,
.page-links-two {
  align-self: flex-start;
}

.link {
  width: 80px;
  height: 70px;
  background-color: #2F5496;
  text-align: center;
  padding: 1.6em .5em .5em .5em;
  border-radius: 10px;
  line-height: 1rem;
  box-shadow: 1px 1px 5px gray;
}

.link-home-lg {
  padding-top: 1.6em;
}

.link-sm {
  font-size: .8rem;
  width: 60px;
  height: 60px;
  padding-top: 1.6em;
  box-shadow: 1px 1px 5px rgb(47, 47, 47);
}

.link-sm-red {
  background-color: red;
  padding-top: .6em;
}


/*------------------- footer ------------------------*/
.footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0em .2em;
  width: 100%;
  font-size: .7rem;
}

.terms,
.copyright {
  margin-bottom: 0em;
  opacity: .5;
}

.terms {
  bottom: 0em;
  left: .5em;
}

.copyright {
  bottom: 0em;
  right: .5em;
}



/*------------------- mobile styling --------------------*/
@media(max-width:480px) {
  .main-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 100%;
    height: 100%;

  }

  .logo-container {
    display: none;
  }

  .right-side {
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-quote {
    margin-bottom: 0em;
  }

  .hashtag {
    justify-content: end;
    padding-right: 1em;
  }

  .hashtag-gray {
    color: #0f3c5c;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .5rem;
  }
}


/*------------------- tablet styling --------------------*/
@media(max-width:768px) {
  .logo-container {
    display: none;
  }

  .navbar-nav {
    background-color: #81a9c5ab;
  }

  .nav-link-txt {
    color: whitesmoke;
    font-weight: 400;
  }

  .nav-logo {
    width: 45%;
  }

  .nav-link-red {
    color: gold;
  }

  .tag {
    font-size: 1rem;
  }

  .page-content {
    height: 55%;
  }

  .page-links-two {
    display: none;
  }


  .page-links-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .link {
    width: 80px;
    height: 70px;
    text-align: center;
    padding: .5em .5em;
  }

  .link-lg {
    padding-top: 1.5em;
  }

  .link-home-lg {
    padding-top: 1.5em;
  }

}

/*---------------------- PC styling ----------------------*/
@media(min-width:1024px) {
  .mobile-nav {
    display: none;
  }
}

@media(min-width:1280px) {
  .page-links-container {
    gap: 3em;
  }

  .page-links-one,
  .page-links-two {
    gap: 3em;
  }
}