body,
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #d8d8d8;
  background: rgb(30, 39, 43);
  background: linear-gradient(90deg, rgba(30, 39, 43, 1) 27%, rgba(52, 68, 75, 1) 63%, rgba(71, 93, 103, 1) 95%);
  position: relative;
  width: 100%;
  height: 100vh;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles  ----------------------*/
.main-wrapper {
  display: flex;
}

.left-side {
  width: 35%;
}

.logo-img-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  width: 100%;
  object-fit: cover;
}

.right-side {
  width: 65%;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-one {
  font-size: 7rem;
  font-weight: 400;
  margin-top: -1.5rem;
}

.subtext {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0rem;
}

.subtext-one {
  margin-top: 0rem;
}

.subtext-two {
  font-size: 3.25rem;
  margin-top: -.8rem;
}

.hashtag {
  display: flex;
  margin-top: 4rem;
}

.tag {
  font-size: 1.75rem;
}

.tag-one {
  color: #FF0000;
}

.tag-two {
  color: #A8D08C;
}

.tag-three {
  color: #98BDDE;
}

.footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

p {
  color: gray;
  font-size: .7rem;
  margin: 0em .5em .25em .5em;
}




/*------------------- PC ------------------------*/
@media(min-width:1440px) {}

/*------------------- tablet------------------------*/
@media(max-width:768px) {}

/*------------------- mobile ------------------------*/
@media(max-width:480px) {
  body {
    height: 100%;
    width: 95%;
  }

  .left-side {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    border: 1px solid red;
  }

  .right-side {
    position: absolute;
    top: 1em,
  }

  .title-container {
    width: 90%;
    margin-top: 0em;
    z-index: 2;
  }

  .title-one {
    font-size: 5rem;
    margin-left: 1rem;
  }

  .subtext {
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
  }

  .subtext-two {
    font-size: 2.75rem;
  }

  .hashtag {
    margin-top: 3rem;

  }

  .tag {
    font-size: 1rem;
  }

}