body,
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #d8d8d8;
  background: rgb(30, 39, 43);
  background: linear-gradient(90deg, rgba(30, 39, 43, 1) 27%, rgba(52, 68, 75, 1) 63%, rgba(71, 93, 103, 1) 95%);
  position: relative;
  width: 100%;
  height: 100%;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles  ----------------------*/
.main-wrapper {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100vh;
}

.img-container,
.logo-container {
  width: 100%;
  height: 50%;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.right-side {
  width: 65%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
}

.title-one {
  font-size: 7rem;
  font-weight: 400;
  margin-top: -1.5rem;
}

.subtext {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0rem;
}

.subtext-one {
  margin-top: 0rem;
}

.subtext-two {
  font-size: 3.25rem;
  margin-top: -.8rem;
}

.hashtag {
  display: flex;
  margin-top: 4rem;
}

.tag {
  font-size: 1.75rem;
}

.tag-one {
  color: #FF0000;
}

.tag-two {
  color: #A8D08C;
}

.tag-three {
  color: #98BDDE;
}

.link-btns {
  display: flex;
  gap: 4em;
}

/* page content */
.page-content {
  height: 60%;
  padding: 1em 2em 1em 0em;
  overflow: scroll;
  margin-top: -2.5em;
}

.content-subtitle-txt {
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  margin-bottom: .5em;
  line-height: 1.2em;
}

.contact-submition-form {
  background-color: #B5C6E7;
  color: black;
  padding: .5em 1em;
}

.form-title {
  text-align: center;
  margin-bottom: .5em;
  margin-top: 0em;
}

.form-input {
  text-align: end;
  margin-bottom: .5em;
}

label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: .5em;
}

input {
  width: 70%;
  height: 1.75em;
  padding-left: .5em;
}

::placeholder {
  color: rgba(128, 128, 128, 0.398);
}

.submit-btn {
  background-color: #FFC000;
  border: none;
  padding: .25em 1em;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 35%;
}

.submit-btn:hover {
  background-color: #ffe100;
  cursor: pointer;
}

/* page content end */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 90px;
  border-radius: 10px;
  background-color: #1c5fd30e;
  box-shadow: 1px 1px 4px rgb(202, 202, 202),
    inset 0px 0px 5px 1px rgb(44, 81, 148);
}


.footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

p {
  color: gray;
  font-size: .7rem;
  margin: 0em .5em .25em .5em;
}




/*------------------- PC ------------------------*/
@media(min-width:1280px) {
  .page-content {
    margin-top: -2.5em;
  }
}

/*------------------- tablet------------------------*/
@media(max-width:768px) {
  .content-container {
    height: 90%;
  }

  .content-subtitle-txt {
    font-size: 1rem;
  }

  .form-title {
    font-size: 1.2rem;
    line-height: 1.55rem;
    margin-top: .25em;
  }

  label {
    font-size: .9rem;
  }

  input {
    width: 65%;
    height: 2em;
  }

  .submit-btn {
    background-color: #FFC000;
    border: none;
    padding: .5em 1.5em;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 30%;
  }
}

/*------------------- mobile ------------------------*/
@media(max-width:480px) {
  body {
    height: 100%;
    width: 100%;
  }

  .left-side {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3em;
  }

  .logo {
    position: absolute;
    height: 15%;
    width: 5em;
    top: 0em;
    right: 0em;
    z-index: 3;
  }


  .right-side {
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    position: absolute;
    top: 1em;
    display: flex;
    justify-content: space-between;
  }

  .title-container {
    width: 90%;
    margin-top: 0em;
    margin-left: 0em;
    gap: .2em;
    z-index: 2;
  }

  .title-one {
    font-size: 5rem;
    margin-left: 1rem;
  }

  .subtext {
    font-size: 2rem;
  }

  .subtext-two {
    font-size: 2.75rem;
  }

  .hashtag {
    margin-top: 3rem;
  }

  .tag {
    font-size: 1rem;
  }

  .page-content {
    padding: 1em;
    margin: .5em 0em;
    margin-top: -2em;
  }

  .contact-submition-form {
    padding: .5em;
    text-align: center;
  }

  .content-subtitle-txt {
    font-size: 1rem;
  }

  .form-title {
    line-height: 1.25rem;
  }

  .form-input {
    text-align: center;
    width: 100%;
  }

  label {
    display: none;
  }

  input {
    width: 80%;

  }

  .submit-btn {
    font-weight: 600;
    font-size: 1rem;
    width: 70%;
    margin-left: .1em;
    padding: .25em 1em;
  }

  .link-btns {
    gap: 2em;
    justify-content: center;
  }

  .btn {
    width: 80px;
    height: 70px;
    background-color: #1c5fd343;
    box-shadow: 1px 1px 4px rgb(202, 202, 202),
      inset 0px 0px 5px 1px rgb(44, 81, 148);
  }

  .agents-btn {
    text-shadow: 1px 1px 4px black;
  }

  p {
    font-size: .5rem;
  }

}