body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  opacity: 0.99;
  background-color: #E5EDFB;
  position: relative;
  width: 100%;

}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles ----------------------*/

.main-wrapper {
  width: 100%;
  display: flex;

}

.left-side {
  width: 35%;
  height: 100vh;
}

.logo-container {
  width: 100%;
  height: 50%;
  padding-top: 2em;
}

.logo,
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img {
  height: 100%;
  opacity: .9;
}

.img-container {
  width: 100%;
  height: 50%;
}

.right-side {
  width: 65%;
}


.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title-hashtag {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

.title,
.hashtag {
  font-weight: 400;
}

.title-container {
  max-width: 100%;
}

.title {
  color: #7F7F7F;
  font-size: 2.8rem;
  margin-bottom: 0em;
  letter-spacing: -1px;
}

.hashtag-container {
  display: flex;
  align-items: end;
  margin-left: .6em;
}

.hashtag {
  font-size: 1.4rem;
  margin-bottom: 0.2em;
}

.tag-darkgray {
  color: #7F7F7F;
  font-size: 1.5rem
}

.tag-gray {
  color: #AEABAB;
}

.tag-orange {
  color: #F4B081;
}

.tag-blue {
  color: #0070C0;
}

.link-btns {
  display: flex;
}

.page-content {
  width: 90%;
}

.link-btns-lg,
.link-btns-sm {
  margin: 3rem 0rem;
}

.link-btns-sm {
  display: flex;
  align-items: center;
  margin-top: 1.7rem;
  margin-bottom: 3.5rem;
}

.link-lg {
  background-color: #2F5496;
  margin-right: 2em;
  border-radius: 10px;
}

.link-lg {
  padding: 1.5rem 1.2rem;
}

.about-link {
  padding: 1.5rem .5rem;
}

.link-container {
  background-color: #2F5496;
  margin-right: 2em;
  border-radius: 10px;
  padding: .8rem .85rem .9rem;
  text-align: center;
}

.link-sm {
  font-size: .7rem;

}

.container-one {
  background-color: red;
  line-height: 1rem;
  max-width: 62px;
  padding: .5rem .2rem;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  font-size: .8rem;
}

.footer-copyright,
.footer-terms {
  color: #CACBCF;
}

/*------------- mobile ----------------------*/
@media(max-width:480px) {
  .link-btns-lg {
    display: none;
  }


  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav {
    z-index: 2;
  }

  .left-side {
    width: 100%;
    position: absolute;
    top: 0;
  }

  .logo-container {

    text-align: center;
  }

  .logo {
    width: 10rem;
  }

  .right-side {
    width: 90%;
    margin: 0px auto;
  }





  .footer-container {
    flex-direction: column;
    font-size: .5rem;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .3rem;
    text-align: center;
    line-height: .5rem;
  }


}

/*------------- tablet ----------------------*/
@media(max-width:768px) {

  .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }
}

@media(min-width:768px) {
  .mobile-nav {
    display: none;
  }

  /*------------- PC ----------------------*/
  @media(min-width:1024px) {
    .mobile-nav {
      display: none;
    }



    .footer-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .footer-terms,
    .footer-copyright {
      margin-bottom: .2rem;
    }

  }

  @media(min-width:1440px) {
    .logo {
      max-width: 22em;
      margin-left: 4em;
    }
  }