html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-color: #E5EDFB;
  position: relative;
  width: 100%;
  height: 100%;

}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/*------------- global styles ----------------------*/

.main-wrapper {
  width: 100%;
  display: flex;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  font-size: .8rem;
}

.footer-copyright,
.footer-terms {
  color: #CACBCF;
}

/*------------- mobile ----------------------*/
@media(max-width:480px) {

  .link-btns-lg,
  .img {
    display: none;
  }

  .logo {
    display: none;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .nav-logo {
    width: 5rem;
    padding-left: .5em;
  }

  .navbar-nav {
    background-color: #8399c2b1;
  }

  .footer-container {
    flex-direction: flex;
    justify-content: space-between;
    font-size: .5rem;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .3rem;
    text-align: center;
    line-height: .5rem;
  }
}

@media(max-width:320px) {
  .team-container {
    margin-top: 2em;
    grid-template-rows: 150px;
  }

  .name,
  .role {
    font-size: .7rem;
  }
}

/*------------- tablet ----------------------*/
@media(max-width:768px) {


  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }
}


/*------------- PC ----------------------*/
@media(min-width:1024px) {
  .mobile-nav {
    display: none;
  }

  .footer-terms,
  .footer-copyright {
    margin-bottom: .2rem;
  }

}

@media(min-width:1440px) {}