body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #575757;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.99;
  background-color: #e0e0e0;
  position: relative;
  max-width: 1280px;
}

@media(min-width:1280px) {
  body {
    margin: 0px auto;
  }
}

a {
  color: #575757;
  text-decoration: none;
}

/*------------- header/navbar  ----------------------*/
.header-container {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px #8a8a8a;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header-text-logo {
  font-size: 1.3rem;
  font-weight: 300;
  color: #575757;
}

.header-become-agent-link {
  border: 1px solid #575757;
  background-color: #e0e0e0;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.header-become-agent-link:hover {
  border: 1px solid #e0e0e0;
  background-color: #575757;
  color: #eeeeee;
}

/*------------- info page ----------------------*/


.terms-and-conditions {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #eeeeee;
  box-shadow: inset 0px 0px px #8a8a8a;
}

.submit-btn {
  padding: 5px 10px;
  margin-left: 2rem;
}

.submit-btn:hover {
  background-color: steelblue;
}



/*------------------- footer ------------------------*/
.footer-container {
  background-color: #eeeeee;
  box-shadow: 2px -2px 5px #8a8a8a;
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.footer-links {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.footer-link {
  font-weight: 300;
  color: #575757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  transform: scale(1.1);
  transition: ease-in 0.3ms;
}

.home-link {
  color: steelblue;
  font-weight: 500;
}

.home-link:hover {
  color: steelblue;
  text-decoration: 2px overline;
  transition: ease-in 0.3ms;
  text-transform: uppercase;
}

.footer-copyright {
  font-size: .7rem;
  color: #8a8a8a;
  padding-top: 1.3rem;
}